
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #010101;
}

:root {
    --TEXTC: linear-gradient(8deg, #f7c912 22%, rgb(255, 72, 0) 100%);
    --H2:linear-gradient(0deg, rgba(255,154,0,1) 2%, rgba(255,0,0,1) 100%);
    --h3: radial-gradient(circle, rgba(202,8,8,1) 0%, rgba(252,5,5,1) 8%, rgba(241,51,51,1) 64%, rgba(205,8,8,1) 75%, rgba(255,68,68,0.8341387580422794) 97%);
}

main {
    margin-left: 100px;
}

h2,h3 {
    margin-left: 0px;
}
.contact h3 {
    margin-left: 10px;
}

p {
    margin-left: 20px;
    color: #C7EEC2;
}

.contact p {
    margin-left: 30px;
}

.contact1 p {
    margin-left: -40px;
}

about-sections_li  {
    margin-bottom: 0.5em;
    list-style-type:circle;
    font-size: 1.6rem;
    color: #1eff009d;
    background-color: #1eff009d;

}

/* about-sections {
    border-left: 5px solid #0f0f0f11;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
   
}
about-sections ul {
    list-style-type: disc;
    padding-left: 1.5em;
}
about-sections_li li {
    margin-bottom: 0.5em;
    list-style-type:circle;
    font-size: 1.6rem;
    color: #1eff009d;
} */