
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #010101;
}

:root {
    --TEXTC: linear-gradient(8deg, rgba(247,201,18,1) 22%, rgba(255,154,0,1) 100%);
}

p {
    font-size: 1rem;
    margin: 1rem 0;
    background: var(--TEXTC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.List_above {
    text-align: start;
    font-style: italic;
    font-size: 2rem;
}

/* table */
.crop_table {
    display: flex;
    justify-content: center;
}


table {
    border-collapse: collapse;
    margin: 1rem 0;
    background: var(--TEXTC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  th, td {
    border: 10px solid #fff;
    padding: 8px;
    width: 500px;
    text-align: left;
    background: var(--TEXTC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  td ol li {
    list-style: none; 
    margin: 1rem 0;
  }