
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #010101;
        text-align: center;
    }


:root {
    --TEXTC: linear-gradient(8deg, rgba(247,201,18,1) 22%, rgba(255,154,0,1) 100%);
}

p {
    font-size: 1rem;
    margin: 1rem 0;
    background: var(--TEXTC);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* table */
.crop_table {
   padding-left: 100px;
}


table {
    border-collapse: collapse;
    margin: 1rem 0;
    background: var(--TEXTC);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: -90px;
  }


  th, td {
    border: 10px solid #7e7b7baf;
    padding: 8px;
    width: 500px;
    text-align: left;
    background: var(--TEXTC);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  td ol li {
    list-style: none; 
    margin: 1rem 0;
  }

  thead {
    font-size: 2.4em;
    font-style: boldest;
  }

  td:nth-child(1) {
    font-size: 2em;
  }

<<<<<<< HEAD
  .chilli {
    filter: drop-shadow(0 0 0.75rem #BB1816);
  }

  img.greengram {
    filter: drop-shadow(0 0 0.75rem #908d2d);
}

img.BGC {
    filter: drop-shadow(0 0 0.75rem #7E7B7B);
}

=======
>>>>>>> 4f247fc (Lost)
