* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #010101;
    color: #fff;
    text-align: center;
}

:root {
    --header-gradient: linear-gradient(8deg, rgb(240, 8, 8) 22%, rgba(255,154,0,1) 100%);
    --TEXTC: #fedf42;
}

main {
    padding: 1rem;
}

table {
    border-collapse: collapse;
    margin: 1rem 0;
    width: 100%;
    max-width: 100%;
}

th, td {
    border: 10px solid #7e7b7bdb;
    padding: 8px;
    width: 500px;
    text-align: left;
}

thead th {
    font-size: 1.8em;
    background: var(--header-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

td {
    font-size: 1.5em;
    background: var(--TEXTC);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.link-button {
    display: inline-block;
    padding: 8px 16px;
    color: #010101;
    background-color: var(--TEXTC); 
    text-decoration: none;
    border-radius: 4px; 
}

td img, li img {
    width: 20px;
    height: 20px;
}

 li img {
    width: 25px;
    height: 25px;
}

.Status {
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    color: #f3fb06;
    text-decoration: none;
    border-radius: 4px; 
    align-items: flex-start;
    justify-content: start;
    margin-left: 100px;
    font-size: 1rem;
}
.Status_N {
    margin-left: -100px;
    margin-top: 50px;
}

.Status_N h2 {
    margin-bottom: -10px;
}


footer {
    margin-top: 2rem;
    font-size: 1.2em;
}
