
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #010101;
}

:root {
    --TEXTC: linear-gradient(8deg, rgba(247,201,18,1) 22%, rgba(255,154,0,1) 100%);
}

/* ---Skip to Main--- */
.skip-link {
    position: absolute;
    top: -40px;
    left: -40px;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 1000;
    transition: top 0.3s ease, left 0.3s ease;
    border-radius: 9px;
}

.skip-link:focus {
    top: 50px;
    left: 200px;
    background-color: blue;
    outline: 3px dotted #000; 
    outline-offset: 4px;
}

/* ---Header--- */


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

/* Navigation */
.menu {
    display: flex;
    flex-direction: row;
    list-style: none; 
    margin: 0;
    padding: 0;
}

.menu > li {
    position: relative;
}

ul {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 5px;
    padding: 5px;
    background: linear-gradient(to top, #FFC107 30%, #169347);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    font-weight: bold;
}

li a {
    text-decoration: none;
    color: #000;
}

/* Machines dropdown */
.sub-menu {
    list-style: none; 
    position: absolute;
    left: 50px;
    top: 100%;
    background-color: #000;
    border-radius: 4px;
    border: 2px solid rgba(128, 128, 128, 0.248);
    display: none;
    padding: 10px;
    gap:4px;
}

.sub-menu::before {
    position: absolute;
    top: -20px;
    left: 20px;
    border: 10px solid transparent;
    border-bottom-color: #000;
}

.sub-menu::after {
    position: absolute;
    top: -16px;
    left: 20px;
    border: 10px solid transparent;
    border-bottom-color: rgba(128, 128, 128, 0.248);
}

.menu-item:hover .sub-menu, .menu-item:focus-within .sub-menu {
    display: block;
}

.container a:hover,.container a:focus {
    outline: #fff 3px solid;
    padding: 2px;
    margin: 2px;
    text-decoration: underline;
    border-radius: 4px;
}

/* Main Section */
.main_content {
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 3rem;
    margin: 1rem 0;
    text-align: center;
    gap: 2rem;
    background: radial-gradient(circle, #f7c912 0%, #ff9a00 20%, #ff0000 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 2rem;
    margin: 1rem 0;
    text-align: start;
    background: var(--TEXTC);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 100px;
}

h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: start;
    background: var(--TEXTC);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 100px;
}

p {
    font-size: 1rem;
    margin: 1rem 0;
    background: var(--TEXTC);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 3px;
}

/* footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin: 0px;
    text-align: center;
    bottom: 0;
    width: 100%;
    background: var(--TEXTC);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}