
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #010101; */
    background-color: #000;
}

:root {
    --TEXTC: linear-gradient(8deg, #f7c912 22%, rgb(255, 72, 0) 100%);
    --H2:linear-gradient(0deg, #EB9C35 90%, #C4501A 20%, #8B2A14 10%);
    --H1: radial-gradient(circle,  #00563f 0%,    #00563f 20%,   #004225 40%,   #013220 70%,   #2a3439 100% );
    --button: linear-gradient(to top, #FFC107 0%, #169347 90%);

}

/* ---Skip to Main--- */
.skip-link {
    position: absolute;
    top: -40px;
    left: -40px;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 1000;
    border-radius: 9px;
}

.skip-link:focus {
    top: 50px;
    left: 200px;
    background-color: blue;
    outline: 3px dotted #000; 
    outline-offset: 4px;
}

/* ---Header--- */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    margin-bottom: 40px;
}

/* Navigation */

.menu {
    display: flex;
    flex-direction: row;
    list-style: none; 
    margin: 0;
    padding: 0;
    
}

.menu > li {
    position: relative;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 2px;
    padding: 5px;
    font-size: 1.5em;
    font-weight: bold;
   
}

.menu li a {
    text-decoration: none;
    color: #000;
    background: var(--button);
    padding: 10px 20px;
    border-radius: 5px;
}

nav {
    margin-top: -60px;
    margin-right: 40px;
}


/* Main Section */
.main_content {
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 3rem;
    margin: 1rem 0;
    text-align: center;
    gap: 2rem;
    background: radial-gradient(circle, #f7c912 0%, #ff9a00 20%, #ff0000 70%); 
    /* background: radial-gradient(circle,  #00563f 0%,    #00563f 20%,   #004225 40%,   #013220 70%,   #2a3439 100% ); */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 2rem;
    margin: 1rem 0;
    text-align: start;
    background: var(--H2);
   /*  background: #5C8620; */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 100px;
}

h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: start;
    background:#749F34 ;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 100px;
    font-weight: 900;
}

h4 {
        color: #8BBB41;
        font-size: 1.5rem;
        font-weight: 600;
        margin: 20px 0;
        margin-left: 110px;
}

p {
    font-size: 1rem;
    margin: 1rem 0;
    background: #C7EEC2;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 3px;
    color: #fff;
}

.h2-center h2 {
    text-align: center;
}

.main_content_index {
    margin: 0 100px;

}

.drive_h3 h3 {
    text-align: start;
    margin-left: -1px;
}

.drive_li ul li p a{
    text-decoration: underline;
    
}
.tractor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: nowrap;
}

.Machineries_h3 {
    text-align: start;
    margin-left: -100px;
}

.powerh1 h1  {
    text-align: start;
    margin-left: -20px;

}

/* footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin: 0px;
    bottom: 0;
    width: 100%;
    background: var(--TEXTC);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

footer div h2 {
    padding: 10px;
    text-align: center;
    background: linear-gradient(to right, #ff2f00, #FFC300);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    color: #C7EEC2;
    font-size: 1.35rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}