
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

/* ---Skip to Main--- */
.skip-link {
    position: absolute;
    top: -40px;
    left: -40px;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 1000;
    transition: top 0.3s ease, left 0.3s ease;
    border-radius: 9px;
}

.skip-link:focus {
    top: 50px;
    left: 200px;
    background-color: blue;
    outline: 3px dotted #000; 
    outline-offset: 4px;
}

/* ---Header--- */
header {
    margin-bottom: 80px;
    padding: 20px; 
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

/* Navigation */
.menu {
    display: flex;
    flex-direction: row;
    list-style: none; 
    margin: 0;
    padding: 0;
}

.menu > li {
    position: relative;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin: 5px;
    padding: 5px;
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
}

li a {
    text-decoration: none;
    color: #000;
}

/* Machines dropdown */
.sub-menu {
    list-style: none; 
    position: absolute;
    left: 50px;
    top: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 2px solid rgba(128, 128, 128, 0.248);
    display: none;
    padding: 10px;
    gap:4px;
}

.sub-menu::before {
    position: absolute;
    top: -20px;
    left: 20px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
}

.sub-menu::after {
    position: absolute;
    top: -16px;
    left: 20px;
    border: 10px solid transparent;
    border-bottom-color: rgba(128, 128, 128, 0.248);
}

.menu-item:hover .sub-menu, .menu-item:focus-within .sub-menu {
    display: block;
}

.container a:hover,.container a:focus {
    outline: #000 3px dotted;
    padding: 2px;
    margin: 2px;
    text-decoration: underline;
    border-radius: 4px;
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.63));
}

/* Main Section */
